/build
/datafiles
/node_modules
/NOID
/tests/.phpunit.result.cache
/vendor
/.idea
/.sass-cache
/.settings
.buildpath
.bundle
.DS_Store
.php_cs.cache
.php-cs-fixer.cache
.phpunit.result.cache
.project
composer.phar
phpunit.phar
