<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE phpunit>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/7.4/phpunit.xsd"
    colors="true"
    backupGlobals="false"
    defaultTestSuite="Noid Test Suite"
    >
    <testsuites>
        <testsuite name="Noid Test Suite">
            <directory>tests/suite</directory>
            <exclude>tests/NoidTestCase.php</exclude>
        </testsuite>
        <testsuite name="Perl Random Test Suite">
            <directory>tests/PerlRandom</directory>
        </testsuite>
    </testsuites>
</phpunit>
