<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    failOnWarning="true"
    failOnRisky="true"
    forceCoversAnnotation="true"
    beStrictAboutCoversAnnotation="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTodoAnnotatedTests="true"
    colors="true"
    verbose="true"
    defaultTestSuite="default"
    >
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </coverage>
  <php>
    <ini name="display_errors" value="On"/>
    <ini name="error_reporting" value="-1"/>
  </php>
  <testsuites>
    <testsuite name="default">
      <directory suffix="Test.php">tests/suite</directory>
    </testsuite>
    <testsuite name="perl_random">
      <directory suffix="Test.php">tests/PerlRandom</directory>
    </testsuite>
  </testsuites>
  <groups>
    <exclude>
      <group>long</group>
    </exclude>
  </groups>
</phpunit>
